# Node
node_modules/

# Playwright
test-results/
playwright-report/
blob-report/
trace.zip
*.png
*.webm
*.zip

# Allure
allure-results/
allure-history/
docs/

# OS / IDE
.DS_Store
.vscode/
.idea/

# Allow Playwright visual snapshots
!tests/ui/visuals/**-snapshots/
!tests/ui/visuals/**-snapshots/*.png
.allai/workspace.db
