trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
  - checkout: self

  - task: NodeTool@0
    inputs:
      versionSpec: '18.x'

  - script: |
      npm ci
      npx playwright install --with-deps
    displayName: Install Dependencies

  - script: |
      npx playwright test --project=ui-regression || true
    displayName: Run Playwright Tests

  - script: |
      npm install -g allure-commandline
      allure generate allure-results --clean -o allure-report
    displayName: Generate Allure Report

  - task: PublishBuildArtifacts@1
    inputs:
      pathToPublish: allure-report
      artifactName: AllureReport
      publishLocation: Container